<h1>商品一覧</h1>

<% @item.each do |item| %>

  <div>

    <%= image_tag item.image %>

    <p><%= link_to item.name, item_path(item)  %></p>

    <p>¥<%= (item.price * 1.1).to_i %></p>

  </div>

<% end %>